doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../css/main.css")
        title You tube
    body 
        header.header 
            .container 
                .header__iteam--hero
                    .header__iteam--left 
                        img(src="../imags/menu.svg", alt="menu").header__iteam--left--img1
                        img(src="../imags/youtube-logo.svg", alt="menu").header__iteam--left--img2

                    .header__iteam--center 
                        form.header__iteam__center--form
                            input(type="email"  placeholder="Search").header__iteam--center--input
                            button.header__iteam--center--btn 
                                img(src="../imags/search.svg", alt="search").header__iteam--center--search

                    .header__iteam--right
                        img(src="../imags/create.svg", alt="header--btn").header__iteam--right--img
                        img(src="../imags/youtube-apps.svg", alt="header--btn").header__iteam--right--img
                        img(src="../imags/notifications.svg", alt="notifications").header__iteam--right--img
                        img(src="../imags/sub-photo.svg", alt="sub").header__iteam--right--img



        section.hero 
            .container 
                .hero__iteam--main 
                    .hero__iteam--left 
                        ol.hero__iteam--left--ol 
                            li.hero__iteam--left--li 
                                img(src="../imags/home.svg", alt="logo").hero__iteam--left--img
                                a(href="#").hero__iteam--left--alfa Home

                            li.hero__iteam--left--li 
                                img(src="../imags/trends.svg", alt="logo").hero__iteam--left--img
                                a(href="#").hero__iteam--left--alfa Trends

                            li.hero__iteam--left--li 
                                img(src="../imags/subs.svg", alt="logo").hero__iteam--left--img
                                a(href="#").hero__iteam--left--alfa Subscriptions

                            li.hero__iteam--left--lest 
                                img(src="../imags/originals.svg", alt="logo").hero__iteam--left--img
                                a(href="#").hero__iteam--left--alfa Originals

                            li.hero__iteam--left--li 
                                img(src="../imags/library.svg", alt="logo").hero__iteam--left--img
                                a(href="#").hero__iteam--left--alfa Library

                            li.hero__iteam--left--li 
                                img(src="../imags/history.svg", alt="logo").hero__iteam--left--img
                                a(href="#").hero__iteam--left--alfa History

                            li.hero__iteam--left--li 
                                img(src="../imags/your-videos.svg", alt="logo").hero__iteam--left--img
                                a(href="#").hero__iteam--left--alfa Your videos

                            li.hero__iteam--left--li 
                                img(src="../imags/your-movie.svg", alt="logo").hero__iteam--left--img
                                a(href="#").hero__iteam--left--alfa Your movies

                            li.hero__iteam--left--lest1 
                                img(src="../imags/show-more.svg", alt="logo").hero__iteam--left--img
                                

                                <select name="cars" id="cars">
                                    <option value="volvo">Show more</option>
                                    <option value="saab">Saab</option>
                                    <option value="mercedes">Mercedes</option>
                                    <option value="audi">Audi</option>
                                </select> 

                            h3.hero__iteam--left--show SUBRCRIPTIONS

                            li.hero__iteam--left--li 
                                img(src="../imags/sub-photo1.svg", alt="logo").hero__iteam--left--img
                                a(href="#").hero__iteam--left--alfa Adem Ilter
                                img(src="../imags/videos-dot.svg", alt="dot").hero__iteam--left--dot

                            li.hero__iteam--left--li 
                                img(src="../imags/sub-photo123452.svg", alt="logo").hero__iteam--left--img
                                a(href="#").hero__iteam--left--alfa Coşkun Aral Anlaty...
                                img(src="../imags/videos-dot.svg", alt="dot").hero__iteam--left--dot2

                            li.hero__iteam--left--li 
                                img(src="../imags/sub-photo3.svg", alt="logo").hero__iteam--left--img
                                a(href="#").hero__iteam--left--alfa Yiğit Can İÇ
                                img(src="../imags/videos-dot.svg", alt="dot").hero__iteam--left--dot1

                            li.hero__iteam--left--li 
                                img(src="../imags/sub-photo4.svg", alt="logo").hero__iteam--left--img
                                a(href="#").hero__iteam--left--alfa AQUAHOLIC
                                

                            li.hero__iteam--left--li 
                                img(src="../imags/sub-photo5.svg", alt="logo").hero__iteam--left--img
                                a(href="#").hero__iteam--left--alfa yener ustun
                               

                            li.hero__iteam--left--li 
                                img(src="../imags/sub-photo6.svg", alt="logo").hero__iteam--left--img
                                a(href="#").hero__iteam--left--alfa SparkFun Electroni...
                                img(src="../imags/videos-dot.svg", alt="dot")

                            li.hero__iteam--left--lest1 
                                img(src="../imags/show-more.svg", alt="logo").hero__iteam--left--img
                             

                                <select name="cars" id="cars">
                                    <option value="volvo">Show 47 more </option>
                                    <option value="saab">Saab</option>
                                    <option value="mercedes">Mercedes</option>
                                    <option value="audi">Audi</option>
                                </select> 


                            h3.hero__iteam--left--show MORE FROM YOUTUBE

                            li.hero__iteam--left--li 
                                img(src="../imags/sub-photo2.svg", alt="logo").hero__iteam--left--img
                                a(href="#").hero__iteam--left--alfa Adem Ilter
                                img(src="../imags/videos-dot.svg", alt="dot").hero__iteam--left--dot

                            li.hero__iteam--left--li 
                                img(src="../imags/sub-photo4.svg", alt="logo").hero__iteam--left--img
                                a(href="#").hero__iteam--left--alfa Coşkun Aral Anlatıy...
                                img(src="../imags/videos-dot.svg", alt="dot")

                            li.hero__iteam--left--li 
                                img(src="../imags/sub-photo3.svg", alt="logo").hero__iteam--left--img
                                a(href="#").hero__iteam--left--alfa Yiğit Can İÇ
                                img(src="../imags/videos-dot.svg", alt="dot").hero__iteam--left--dot1

                            li.hero__iteam--left--li 
                                img(src="../imags/sub-photo.svg", alt="logo").hero__iteam--left--img
                                a(href="#").hero__iteam--left--alfa AQUAHOLIC
                                

                            





                    .hero__iteam--right 
                        ul.hero__iteam--right--ul 
                            li.hero__iteam--right--li 
                                button.hero__iteam--right--btn1 All

                            li.hero__iteam--right--li 
                                button.hero__iteam--right--btn2 Yatchs

                            li.hero__iteam--right--li 
                                button.hero__iteam--right--btn3 Boats

                            li.hero__iteam--right--li 
                                button.hero__iteam--right--btn4 RVs

                            li.hero__iteam--right--li 
                                button.hero__iteam--right--btn5 Electrical Engineering

                            li.hero__iteam--right--li 
                                button.hero__iteam--right--btn6 Photocopier

                            li.hero__iteam--right--li 
                                button.hero__iteam--right--btn7 Cookery

                            li.hero__iteam--right--li 
                                button.hero__iteam--right--btn8 Apple

                            li.hero__iteam--right--li 
                                button.hero__iteam--right--btn9 CSS

                            li.hero__iteam--right--li 
                                button.hero__iteam--right--btn10 Figma

                            li.hero__iteam--right--li 
                                button.hero__iteam--right--btn11 Astronomy 

                            li.hero__iteam--right--li 
                                button.hero__iteam--right--btn12 React routers

                            li.hero__iteam--right--li 
                                button.hero__iteam--right--btn13 Motorcycles

                            img(src="../imags/content-arrow.svg", alt="content").hero__iteam--content

                        section.services
                            .services__iteam--hero
                                ol.services__iteam--hero--ol 
                                    li.services__iteam--hero--lest 
                                        img(src="../imags/content.svg", alt="content").services__iteam--hero--content
                                        img(src="../imags.play-solid.svg", alt="")
                                        .services__iteam--left 
                                            img(src="../imags/sub-photo3.svg", alt="sub").services__iteam--left--img 
                                            .services__iteam--right    
                                                h3.services__iteam--right--h3 Doğu Karadeniz Dağlarında #[br] Bisikletle Geziyoruz #100 
                                                p.services__iteam--right--paragraph Yiğit Can İÇ #[span.services__iteam--span •] #[br] 27K views  1 day ago


                                    li.services__iteam--hero--lest 
                                        img(src="../imags/content1.svg", alt="content").services__iteam--hero--content
                                        .services__iteam--left 
                                            img(src="../imags/sub-photo1.svg", alt="sub").services__iteam--left--img__one 
                                            .services__iteam--right    
                                                h3.services__iteam--right--h3 Her Derde Deva: CSS Flexbox 
                                                p.services__iteam--right--paragraph Adem Ilter #[span •] #[br] 16K views   2 year ago


                                    li.services__iteam--hero--lest 
                                        img(src="../imags/content2.svg", alt="content").services__iteam--hero--content
                                        .services__iteam--left 
                                            img(src="../imags/sub-photo123452.svg", alt="sub").services__iteam--left--img 
                                            .services__iteam--right    
                                                h3.services__iteam--right--h3 Doğu Karadeniz Dağlarında #[br] Bisikletle Geziyoruz #100 
                                                p.services__iteam--right--paragraph Coşkun Aral Anlatıyor #[span •] #[br]  26K views1 week ago


                                    li.services__iteam--hero--lest 
                                        img(src="../imags/content3.svg", alt="content").services__iteam--hero--content
                                        .services__iteam--left 
                                            img(src="../imags/sub-photo6.svg", alt="sub").services__iteam--left--img 
                                            .services__iteam--right    
                                                h3.services__iteam--right--h3 Product Showcase: SparkFun #[br] MicroMod Ecosystem 
                                                p.services__iteam--right--paragraph SparkFun Electronics #[span •]  #[br] 2.3K views  4 day ago


                                    li.services__iteam--hero--lest 
                                        img(src="../imags/content4.svg", alt="content").services__iteam--hero--content
                                        .services__iteam--left 
                                            img(src="../imags/sub-photo5.svg", alt="sub").services__iteam--left--img 
                                            .services__iteam--right    
                                                h3.services__iteam--right--h3 SAVOTTA JÄÄKÄRI L SIRT ÇANTASI #[br] VE SAVOTTA... 
                                                p.services__iteam--right--paragraph yener ustun #[span • ] #[br] 1K views 9 months ago



                                    li.services__iteam--hero--lest 
                                        img(src="../imags/content5.svg", alt="content").services__iteam--hero--content
                                        .services__iteam--left 
                                            img(src="../imags/sub-photo4.svg", alt="sub").services__iteam--left--img 
                                            .services__iteam--right    
                                                h3.services__iteam--right--h3 £940,000 Yatch Your : Princess #[br] F50 
                                                p.services__iteam--right--paragraph yener ustun #[span •] #[br] 1K views 9 months ago



                                    li.services__iteam--hero--lest 
                                        img(src="../imags/content6.svg", alt="content").services__iteam--hero--content
                                        .services__iteam--left 
                                            img(src="../imags/sub-photo7.png", alt="sub").services__iteam--left--img 
                                            .services__iteam--right    
                                                h3.services__iteam--right--h3 Alev Tahta Kurusu - pyrrhocoris #[br] apterus 
                                                p.services__iteam--right--paragraph İbrahim Sargın #[span •] #[br] 5.8K views  2 week ago5.8K views • 2 week ago


                                    li.services__iteam--hero--lest 
                                        img(src="../imags/content7.svg", alt="content").services__iteam--hero--content
                                        .services__iteam--left 
                                            img(src="../imags/sub-photo8.svg", alt="sub").services__iteam--left--img 
                                            .services__iteam--right    
                                                h3.services__iteam--right--h3 iPad Air - Kutu Açılışı ve İlk #[br] İzlenimler (4. Nesil) 
                                                p.services__iteam--right--paragraph iPhonedo Turkey #[span •] #[br] 108K views  1 day ago


                        
                                    li.services__iteam--hero--lest 
                                        img(src="../imags/content8.svg", alt="content").services__iteam--hero--content
                                        .services__iteam--left 
                                            img(src="../imags/sub-photo2.svg", alt="sub").services__iteam--left--img 
                                            .services__iteam--right    
                                                h3.services__iteam--right--h3 Doğu Karadeniz Dağlarında #[br] Bisikletle Geziyoruz #100 
                                                p.services__iteam--right--paragraph Yiğit Can İÇ #[span.services__iteam--span •] #[br] 27K views  1 day ago

                                

                                    li.services__iteam--hero--lest 
                                        img(src="../imags/content9.svg", alt="content").services__iteam--hero--content
                                        .services__iteam--left 
                                            img(src="../imags/sub-photo4.svg", alt="sub").services__iteam--left--img 
                                            .services__iteam--right    
                                                h3.services__iteam--right--h3 Doğu Karadeniz Dağlarında #[br] Bisikletle Geziyoruz #100 
                                                p.services__iteam--right--paragraph Yiğit Can İÇ #[span.services__iteam--span •] #[br] 27K views  1 day ago


                                    li.services__iteam--hero--lest 
                                        img(src="../imags/content10.svg", alt="content").services__iteam--hero--content
                                        .services__iteam--left 
                                            img(src="../imags/sub-photo6.svg", alt="sub").services__iteam--left--img 
                                            .services__iteam--right    
                                                h3.services__iteam--right--h3 Doğu Karadeniz Dağlarında #[br] Bisikletle Geziyoruz #100 
                                                p.services__iteam--right--paragraph Yiğit Can İÇ #[span.services__iteam--span •] #[br] 27K views  1 day ago


                                    li.services__iteam--hero--lest 
                                        img(src="../imags/content11.svg", alt="content").services__iteam--hero--content
                                        .services__iteam--left 
                                            img(src="../imags/sub-photo5.svg", alt="sub").services__iteam--left--img 
                                            .services__iteam--right    
                                                h3.services__iteam--right--h3 Doğu Karadeniz Dağlarında #[br] Bisikletle Geziyoruz #100 
                                                p.services__iteam--right--paragraph Yiğit Can İÇ #[span.services__iteam--span •] #[br] 27K views  1 day ago
                        
                        
                                    li.services__iteam--hero--lest 
                                        img(src="../imags/content11.svg", alt="content").services__iteam--hero--content
                                        .services__iteam--left 
                                            img(src="../imags/sub-photo5.svg", alt="sub").services__iteam--left--img 
                                            .services__iteam--right    
                                                h3.services__iteam--right--h3 Doğu Karadeniz Dağlarında #[br] Bisikletle Geziyoruz #100 
                                                p.services__iteam--right--paragraph Yiğit Can İÇ #[span.services__iteam--span •] #[br] 27K views  1 day ago


                                    li.services__iteam--hero--lest 
                                        img(src="../imags/content11.svg", alt="content").services__iteam--hero--content
                                        .services__iteam--left 
                                            img(src="../imags/sub-photo5.svg", alt="sub").services__iteam--left--img 
                                            .services__iteam--right    
                                                h3.services__iteam--right--h3 Doğu Karadeniz Dağlarında #[br] Bisikletle Geziyoruz #100 
                                                p.services__iteam--right--paragraph Yiğit Can İÇ #[span.services__iteam--span •] #[br] 27K views  1 day ago

                                                
                                    li.services__iteam--hero--lest 
                                        img(src="../imags/content11.svg", alt="content").services__iteam--hero--content
                                        .services__iteam--left 
                                            img(src="../imags/sub-photo5.svg", alt="sub").services__iteam--left--img 
                                            .services__iteam--right    
                                                h3.services__iteam--right--h3 Doğu Karadeniz Dağlarında #[br] Bisikletle Geziyoruz #100 
                                                p.services__iteam--right--paragraph Yiğit Can İÇ #[span.services__iteam--span •] #[br] 27K views  1 day ago



                                    li.services__iteam--hero--lest 
                                        img(src="../imags/content11.svg", alt="content").services__iteam--hero--content
                                        .services__iteam--left 
                                            img(src="../imags/sub-photo5.svg", alt="sub").services__iteam--left--img 
                                            .services__iteam--right    
                                                h3.services__iteam--right--h3 Doğu Karadeniz Dağlarında #[br] Bisikletle Geziyoruz #100 
                                                p.services__iteam--right--paragraph Yiğit Can İÇ #[span.services__iteam--span •] #[br] 27K views  1 day ago
                        
                        
                            
                                    li.services__iteam--hero--lest 
                                        img(src="../imags/content10.svg", alt="content").services__iteam--hero--content
                                        .services__iteam--left 
                                            img(src="../imags/sub-photo6.svg", alt="sub").services__iteam--left--img 
                                            .services__iteam--right    
                                                h3.services__iteam--right--h3 Doğu Karadeniz Dağlarında #[br] Bisikletle Geziyoruz #100 
                                                p.services__iteam--right--paragraph Yiğit Can İÇ #[span.services__iteam--span •] #[br] 27K views  1 day ago


                                    li.services__iteam--hero--lest 
                                        img(src="../imags/content10.svg", alt="content").services__iteam--hero--content
                                        .services__iteam--left 
                                            img(src="../imags/sub-photo6.svg", alt="sub").services__iteam--left--img 
                                            .services__iteam--right    
                                                h3.services__iteam--right--h3 Doğu Karadeniz Dağlarında #[br] Bisikletle Geziyoruz #100 
                                                p.services__iteam--right--paragraph Yiğit Can İÇ #[span.services__iteam--span •] #[br] 27K views  1 day ago


                                    li.services__iteam--hero--lest 
                                        img(src="../imags/content10.svg", alt="content").services__iteam--hero--content
                                        .services__iteam--left 
                                            img(src="../imags/sub-photo6.svg", alt="sub").services__iteam--left--img 
                                            .services__iteam--right    
                                                h3.services__iteam--right--h3 Doğu Karadeniz Dağlarında #[br] Bisikletle Geziyoruz #100 
                                                p.services__iteam--right--paragraph Yiğit Can İÇ #[span.services__iteam--span •] #[br] 27K views  1 day ago


                                    li.services__iteam--hero--lest 
                                        img(src="../imags/content10.svg", alt="content").services__iteam--hero--content
                                        .services__iteam--left 
                                            img(src="../imags/sub-photo6.svg", alt="sub").services__iteam--left--img 
                                            .services__iteam--right    
                                                h3.services__iteam--right--h3 Doğu Karadeniz Dağlarında #[br] Bisikletle Geziyoruz #100 
                                                p.services__iteam--right--paragraph Yiğit Can İÇ #[span.services__iteam--span •] #[br] 27K views  1 day ago


                                    li.services__iteam--hero--lest 
                                        img(src="../imags/content6.svg", alt="content").services__iteam--hero--content
                                        .services__iteam--left 
                                            img(src="../imags/sub-photo7.png", alt="sub").services__iteam--left--img 
                                            .services__iteam--right    
                                                h3.services__iteam--right--h3 Alev Tahta Kurusu - pyrrhocoris #[br] apterus 
                                                p.services__iteam--right--paragraph İbrahim Sargın #[span •] #[br] 5.8K views  2 week ago5.8K views • 2 week ago


                                    li.services__iteam--hero--lest 
                                        img(src="../imags/content6.svg", alt="content").services__iteam--hero--content
                                        .services__iteam--left 
                                            img(src="../imags/sub-photo7.png", alt="sub").services__iteam--left--img 
                                            .services__iteam--right    
                                                h3.services__iteam--right--h3 Alev Tahta Kurusu - pyrrhocoris #[br] apterus 
                                                p.services__iteam--right--paragraph İbrahim Sargın #[span •] #[br] 5.8K views  2 week ago5.8K views • 2 week ago


                                    li.services__iteam--hero--lest 
                                        img(src="../imags/content6.svg", alt="content").services__iteam--hero--content
                                        .services__iteam--left 
                                            img(src="../imags/sub-photo7.png", alt="sub").services__iteam--left--img 
                                            .services__iteam--right    
                                                h3.services__iteam--right--h3 Alev Tahta Kurusu - pyrrhocoris #[br] apterus 
                                                p.services__iteam--right--paragraph İbrahim Sargın #[span •] #[br] 5.8K views  2 week ago5.8K views • 2 week ago


                                    li.services__iteam--hero--lest 
                                        img(src="../imags/content6.svg", alt="content").services__iteam--hero--content
                                        .services__iteam--left 
                                            img(src="../imags/sub-photo7.png", alt="sub").services__iteam--left--img 
                                            .services__iteam--right    
                                                h3.services__iteam--right--h3 Alev Tahta Kurusu - pyrrhocoris #[br] apterus 
                                                p.services__iteam--right--paragraph İbrahim Sargın #[span •] #[br] 5.8K views  2 week ago5.8K views • 2 week ago


                                    li.services__iteam--hero--lest 
                                        img(src="../imags/content5.svg", alt="content").services__iteam--hero--content
                                        .services__iteam--left 
                                            img(src="../imags/sub-photo4.svg", alt="sub").services__iteam--left--img 
                                            .services__iteam--right    
                                                h3.services__iteam--right--h3 £940,000 Yatch Your : Princess #[br] F50 
                                                p.services__iteam--right--paragraph yener ustun #[span •] #[br] 1K views 9 months ago


                                    li.services__iteam--hero--lest 
                                        img(src="../imags/content5.svg", alt="content").services__iteam--hero--content
                                        .services__iteam--left 
                                            img(src="../imags/sub-photo4.svg", alt="sub").services__iteam--left--img 
                                            .services__iteam--right    
                                                h3.services__iteam--right--h3 £940,000 Yatch Your : Princess #[br] F50 
                                                p.services__iteam--right--paragraph yener ustun #[span •] #[br] 1K views 9 months ago


                                    li.services__iteam--hero--lest 
                                        img(src="../imags/content5.svg", alt="content").services__iteam--hero--content
                                        .services__iteam--left 
                                            img(src="../imags/sub-photo4.svg", alt="sub").services__iteam--left--img 
                                            .services__iteam--right    
                                                h3.services__iteam--right--h3 £940,000 Yatch Your : Princess #[br] F50 
                                                p.services__iteam--right--paragraph yener ustun #[span •] #[br] 1K views 9 months ago


                                    li.services__iteam--hero--lest 
                                        img(src="../imags/content5.svg", alt="content").services__iteam--hero--content
                                        .services__iteam--left 
                                            img(src="../imags/sub-photo4.svg", alt="sub").services__iteam--left--img 
                                            .services__iteam--right    
                                                h3.services__iteam--right--h3 £940,000 Yatch Your : Princess #[br] F50 
                                                p.services__iteam--right--paragraph yener ustun #[span •] #[br] 1K views 9 months ago


                                    